# 2021.12.15: Additionally, pre-built tensorflow binaries do not
# currently include releases supporting Apple Silicon. Apple has a
# closed-source fork installable via conda, but it doesn't seem
# worth it to use that just to run a few tests locally.
#
# 2023.01.20: Tensorflow is not installable on Python 3.11, so we
# only install it (and test against it) in Python 3.10 and earlier.
# Keras and Pytorch are dependent on Tensorflow, so they're also here.
# Pytorch as of 1.11 release supports Python 3.10.
# Up to >= 1.13.1 to address security vulnerability.

keras>=2.11.0
tensorflow>=2.11.0
torch>=1.13.1
torchvision
